@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  overflow-x: hidden;
  @media (min-width: 1023px) {
    overflow-y: hidden;
  }
}

#__next,
#__next > div {
  overflow-x: hidden;
  @media (min-width: 1023px) {
    overflow-x: unset;
  }
}

.p-slide * {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

#__next,
#__next > div {
  width: 100%;
}

.container-flow {
  overflow: hidden;
}

body {
  color: white;
  background: black;
}

.container {
  @media (min-width: 1600px) {
    max-width: 1600px;
  }
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;

  &-fluid {
    max-width: 100%;
  }
}

#motionPath {
  position: absolute;
  pointer-events: none;
  @media (min-width: 1023px) {
    width: 100%;
    height: 100%;
    left: 100px;
    top: 100px;
  }
}

#motionPath {
  display: none;
  @media (min-width: 1023px) {
    display: block;
  }
}

.astronaut {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  display: none;
  @media (min-width: 1023px) {
    display: block;
  }
}

.header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu-skills {
  max-width: 780px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    padding: 0;
  }

  a {
    color: #4083fe;
  }

  ul {
    list-style: none;
  }

  li {
    color: #111;
    font-size: 1rem;
    @media (min-width: 1023px) {
      font-size: 1.3rem;
    }
    line-height: 1.5;
    opacity: 0;
    will-change: opacity;

    & + li {
      margin-top: 20px;
    }
  }
}

.open-menu {
  .menu {
    span {
      background: #111;

      &:before,
      &:after {
        content: '';
        background: #111;
      }
    }
  }
}

.menu-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background: #fff;
  z-index: 100;
  cursor: default;
}

.menu {
  $menuW: 32px;
  position: relative;
  z-index: 99999999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $menuW;
  height: 32px;
  background: transparent;
  padding: 0;
  border: none;
  outline: none;

  span {
    position: relative;
    width: 100%;
    transition: width 0.2s ease-in-out;
    display: block;
    height: 2px;
    background-color: #fff;

    &:before {
      content: '';
      display: block;
      position: absolute;
      transition: width 0.2s ease-in-out;
      top: -10px;
      left: 0;
      right: 0;
      width: calc($menuW - 10px);
      height: 2px;
      background-color: #fff;
    }

    &:after {
      content: '';
      display: block;
      transition: width 0.2s ease-in-out;
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      width: calc($menuW - 10px);
      height: 2px;
      background-color: #fff;
    }
  }
}

.git-link {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}

.p-info {
  max-width: 250px;
}

.section-full {
  @media (min-width: 1023px) {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.p-slide__title {
  position: absolute;
  left: 0;
  padding: 5px;
  bottom: 40px;
  z-index: 5;
  background: #fff;
  color: #111;
  font-size: 1rem;
  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.45rem;
  }
}

.p-slide {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;

  img {
    overflow: hidden;
    display: block;
    width: 100%;
    position: static !important;
    transition: transform 0.2s ease-in-out;
  }

  &__link {
    position: relative;
    z-index: 4;
    display: block;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;

    &:hover img {
      transform: scale(1.1);
    }
  }
}

.p-items {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 700px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#000),
      color-stop(5%, #000),
      to(transparent)
    );
    background: linear-gradient(90deg, #000, #000 5%, transparent);
  }

  @media (min-width: 1023px) {
    &.active:before {
      content: '';
      opacity: 1;
    }
  }
}

.p-info {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 20px;

  h1 {
    font-family: 'DM Sans';
    opacity: 0.7;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
  }
}

.marquee {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  width: 100%;
  animation: marquee-anim 22s linear infinite;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;

  &:hover {
    animation-play-state: paused;
  }

  .marquee-sm {
    text-transform: lowercase;
  }

  span {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    padding: 5px 12px;
    @media (min-width: 1023px) {
      font-size: 1.2rem;
      padding: 10px 50px;
    }
    text-transform: uppercase;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:nth-child(1) {
      background-image: -webkit-linear-gradient(#4158d0, #c850c0);
    }

    &:nth-child(2) {
      background-image: -webkit-linear-gradient(#8ec5fc, #e0c3fc);
    }

    &:nth-child(3) {
      background-image: -webkit-linear-gradient(#ff0000, #6284ff);
    }

    &:nth-child(4) {
      background-image: -webkit-linear-gradient(#fbab7e, #f7ce68);
    }

    &:nth-child(5) {
      background-image: -webkit-linear-gradient(#52acff, #52acff);
    }
  }
}

@keyframes marquee-anim {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// cursor
#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

.touch #cursor-border,
.touch #cursor {
  display: none;
}

* {
  cursor: none;
}

body.out #cursor,
body.out #cursor-border {
  display: none;
}

a,
button {
  cursor: pointer !important;
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  pointer-events: none;
  transition:
    top 0.15s ease-out,
    left 0.15s ease-out,
    width 0.15s ease-out,
    height 0.15s ease-out,
    background-color 0.15s ease-out;
  z-index: 999;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  z-index: 4;
  background-color: #fff;
}

.swiper-scrollbar-drag {
  background: #009688;
}

.menu:hover {
  span {
    // width: 22px;
    &:before {
      content: '';
      width: 32px;
    }

    &:after {
      content: '';
      width: 32px;
    }
  }
}

.swiper-slide:first-child {
  display: none;
  @media (min-width: 1023px) {
    display: block;
  }
}

.p-info {
  display: none;
  @media (min-width: 1023px) {
    display: block;
  }
}
